@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

body {
  font-family: 'Cinzel', sans-serif;
  background-color: steelblue;
  padding: 0;
  margin: 0;
}

#title {
  position: absolute;
  top: 20px;
  left: 20px;
  display: grid;
  grid-template-columns: auto auto;
  font-size: xx-large;
  font-weight: bold;
  color: white;
  gap: 10px;
}

#description {
  position: absolute;
  top: 85px;
  left: 20px;
  display: grid;
  grid-template-columns: auto auto;
  font-weight: bold;
  font-size: large;
  color: rgb(32, 54, 73);
}

#scoreboard {
  position: absolute;
  top: 20px;
  right: 20px;
  display: grid;
  grid-template-columns: auto auto;
  font-size: large;
  font-weight: bold;
  color: white;
  gap: 10px;
}

.score {
  text-align: right;
}

.card-grid {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  width: 80vw;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.card {
  background-color: rgb(114, 182, 219);
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: large;
  font-weight: bold;
  color: white;
  transition: box-shadow ease;
}

.card:hover {
  box-shadow: 0px 0px 20px rgba(43, 200, 249, 0.7);
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

#restart-button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: steelblue;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#restart-button:hover {
  background-color: whitesmoke;
}

#win {
  position: absolute;
  top: 20px;
  right: 20px;
  display: grid;
  grid-template-columns: auto auto;
  font-size: large;
  font-weight: bold;
  color: white;
  align-items: center;
  gap: 20px;
}